.Product_wrapper {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0;
}

.Product_wrapper .Product_Card {
  height: auto !important;
  padding: 20px 30px;
}

.Product_wrapper .Product_Card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.Product_wrapper .Product_Card h2 {
  color: #fff;
  text-shadow: 0 5px 8px rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.Product_wrapper .Product_Card:hover h2 {
  color: var(--primary-color);
  text-shadow: 0 5px 8px var(--primary-color);
}
