.Team_wrapper {
  align-items: center;
}

.TeamsCards {
  margin-top: 60px;
  width: 100%;
}

.TeamsCards .TeamsCard {
  height: auto !important;
}

.TeamsCards .TeamsCard img {
  width: 80%;
  margin: auto;
}

.TeamsCards .TeamsCard h3 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.TeamsCards .TeamsCard h3 small {
  display: block;
  position: relative;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
}

.TeamsCards .TeamsCard .social {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}
.TeamsCards .TeamsCard .social i {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s;
}

.TeamsCards .TeamsCard .social i:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px #fff;
  color: #fff;
}
