@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Outfit:wght@100..900&family=Playpen+Sans+Arabic:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  /* font-family: "Bakbak One"; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #21e787;
}

body {
  background-color: #040b11;
  overflow-x: hidden;
}

button {
  height: 45px;
  width: 150px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #1e1e1e;
  color: #fff;
  border: 2px solid transparent;
  z-index: 0;
  cursor: pointer;
  box-shadow: 2px 2px 8px #00954d;
  transition: 0.3s;
}

button:hover {
  border-color: var(--primary-color);
}

.btn {
  position: relative;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.6s;
}

.btn::after {
  background-color: var(--primary-color);
  width: 0;
  z-index: -1;
}

.btn:hover::after {
  width: 50%;
}

.btn:hover {
  color: #1e1e1e;
  border-color: transparent;
}

.btn::before {
  background-color: #e1e1e1;
  width: 0;
  z-index: -1;
  left: 0%;
}

.btn:hover::before {
  background-color: var(--primary-color);
  width: 100%;
}

.section {
  padding: 90px 14%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Section_Title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 5px 8px rgba(255, 255, 255, 0.5);
}

.Section_Title span {
  color: var(--primary-color);
  text-shadow: 0 5px 8px rgba(33, 231, 135, 0.5);
}

.Counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px !important;
  font-family: "Bakbak One" !important;
  line-height: 30px;
  width: fit-content !important;
  text-shadow: 0 5px 8px rgba(255, 255, 255, 0.5);
  text-align: start !important;
}

.card {
  background: #141b22;
  display: flex;
  flex-direction: column;
  padding: 45px 20px;
  gap: 15px;
  height: 240px;
  width: auto;
  align-items: center;
  position: relative;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.card span {
  height: 4px;
  width: 35px;
}

.card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.card span:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card span:nth-child(1)::after,
.card span:nth-child(1)::before,
.card span:nth-child(2)::after,
.card span:nth-child(2)::before {
  content: "";
  position: absolute;
  background: var(--primary-color);
  opacity: 0;
  transition: 0.3s;
}

.card:hover span:nth-child(1)::after,
.card:hover span:nth-child(1)::before,
.card:hover span:nth-child(2)::after,
.card:hover span:nth-child(2)::before {
  opacity: 1;
}

.card span:nth-child(1)::after {
  height: 6px;
  width: 50px;
  top: 0;
  left: 0;
}
.card span:nth-child(1)::before {
  height: 50px;
  width: 6px;
  top: 0;
  left: 0;
}

.card span:nth-child(2)::after {
  height: 6px;
  width: 50px;
  bottom: 0;
  right: 0;
}
.card span:nth-child(2)::before {
  height: 50px;
  width: 6px;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1400px) {
  .section {
    padding: 90px 10%;
  }
}
