.Nav_wrapper {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  background-color: #040b11;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.Nav_wrapper .logo a {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 5px 8px rgba(255, 255, 255, 0.5);
}
.Nav_wrapper .logo a span {
  color: var(--primary-color);
  text-shadow: 0 5px 8px rgba(33, 231, 135, 0.4);
}

.Nav_wrapper ul li {
  display: inline-block;
  margin: 0 15px;
}

.Nav_wrapper ul li a {
  color: #fff;
}

.Nav_wrapper ul li:hover a {
  color: var(--primary-color);
}

.NavBtns {
  display: flex;
  align-items: center;
  gap: 22px;
}

#bars {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 3px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 2px 2px 8px #00954d;
  border: 2px solid transparent;

  display: none;
}

#bars:hover {
  background-color: #040b11;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 1400px) {
  .Nav_wrapper {
    padding: 0 12%;
  }
}

@media screen and (max-width: 1200px) {
  #bars {
    display: flex;
  }
  .Nav_wrapper ul {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #040b11;
    left: -100%;
    transition: 0.6s;
    border-top: 0.5px solid var(--primary-color);
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 2px 15px #00954d;
  }

  .Nav_wrapper ul li {
    display: block;
    padding: 25px 0;
    margin: 5px 0;
    padding-left: 12%;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
  }

  .Nav_wrapper ul li:hover {
    border-color: var(--primary-color);
  }

  .Nav_wrapper .activeMenu {
    left: 0;
  }

  .Nav_wrapper ul li:last-child {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .NavBtns button {
    display: none;
  }
}
