.Work_wrapper {
  align-items: center;
  background: url(./../../assets/bs-section.jpg) no-repeat center/cover fixed;
  z-index: 1;
  position: relative;
}

.Work_wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(4, 11, 17, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
  width: 100%;
}

.Cards .Card {
  padding: 20px !important;
  align-items: flex-start !important;
  height: auto !important;
  transition: 0.6s;
}

.Cards .Card:hover {
  box-shadow: 0 0 20px rgb(33, 231, 135, 0.4);
  transform: translateY(-4px) scale(1.02);
}

.Cards .Card h3 {
  font-size: 23px;
  color: #fff;
  font-weight: 700;
}

.Cards .Card p {
  font-size: 15px;
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: rgba(131, 131, 131, 1);
}

@media screen and (max-width: 1300px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .Cards .Card h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .Cards .Card h3 {
    font-size: 20px;
  }
}
